<!DOCTYPE html>
<html>
  <head>
    <title>Edit User</title>
    <link rel='stylesheet' href='/assets/style.css' />
  </head>
  <body>
    <%- include('../../components/navbar') %>
    <h1>Edit User</h1>
    <form action="/user/<%= user._id %>" method="POST">
      <div class="input-group">
        <input type="hidden" name="_id" value="<%= user._id %>">
        <label for="name">Name :</label>
        <input type="text" name="name" value="<%= user.name %>">
      </div>
      
      <div class="input-group">
        <label for="email">Email :</label>
        <input type="email" name="email" value="<%= user.email %>">
      </div>
      <button type="submit">Update</button>
      <a href="/users">Back</a>
    </form>
  </body>
</html>
